# Jupyter Notebook

This is a Jupyter Notebook, which is a basically just a super fancy Python shell.

You may have "cells" that can either be text (like this one) or executable Python code. Notebooks are really nice because they allow you to rapidly develop Python code by writing small bits of code, testing their output, and moving on to the next bit; this interactive nature of the notebook is a huge plus to professional Python developers. 

It's also nice, because it's really easy to share your code with others and surround it with text to tell a story! 

# Colaboratory
Colaboratory is a service provided by Google to take a Jupyter Notebook (a standard formay of a `.ipynb` file) and let users edit/run the code in the notebook for free! 

This notebook is write-protected so you are not able to edit the  notebook that the whole class will look at, but you are able to open up the notebook in "playground mode" which lets you make edits to a temporary copy of the notebook. If you want to save the changes you made to this notebook, you will have to follow the instructions when you try to save to copy the notebook to your Google Drive. 

# Setup
Make sure you run the following cell before trying to run any the following cells. You do not need to understand what they are doing, it's just a way to make sure there is a file we want to use stored on the computer running this notebook.

In [1]:
import requests

def save_file(url, file_name):
  r = requests.get(url)
  with open(file_name, 'wb') as f:
    f.write(r.content)

save_file('https://courses.cs.washington.edu/courses/cse163/19sp/' +
          'files/lectures/04-08/mobydick.txt', 'mobydick.txt')
save_file('https://courses.cs.washington.edu/courses/cse163/19sp/' +
          'files/lectures/04-08/bee-movie.txt', 'bee-movie.txt')
save_file('https://courses.cs.washington.edu/courses/cse163/19sp/' +
          'files/lectures/04-10/tas.csv', 'tas.csv')
save_file('https://courses.cs.washington.edu/courses/cse163/19sp/' +
          'files/lectures/04-10/earthquakes.csv', 'earthquakes.csv')

# Review

Last time we wrote this function to count the number of unique words that appear in a file. When we first wrote it using a list, it was way too slow on large files because the contains check for every word became incredibly slow as the list of unique words got larger. When using the new data structure set, it got much faster!

In [2]:
def count_unique(file_name):
  """
  Returns the number of unique words in the file specified by file_name
  """
  words = set()
  with open(file_name) as file:
    for line in file.readlines():
      for word in line.split():
        words.add(word)
  return len(words)

In [3]:
%%time
print(count_unique('bee-movie.txt'))

4104
CPU times: user 4.57 ms, sys: 1.15 ms, total: 5.73 ms
Wall time: 7.63 ms

In [4]:
%%time
count_unique('mobydick.txt')

CPU times: user 50.6 ms, sys: 3.65 ms, total: 54.2 ms
Wall time: 69.1 ms

32553

# Dictionaries

In [5]:
def count_words(file_name):
  """
  Counts the number of times each word in the file specified by file_name 
  appears in that file. Returns the counts as a dictionary with keys that
  are words that map to the number of times that word appears in the file.
  """
  counts = {}
  with open(file_name) as file:
    for line in file.readlines():
      for word in line.split():
        if word in counts:
          counts[word] = counts[word] + 1
        else: 
          counts[word] = 1
  return counts

In [6]:
counts = count_words('bee-movie.txt')

In [7]:
counts['bee']

35

We then wanted to loop over that dictionary to find the appear the appears most frequently. We saw that there are two
ways that this is commonly done that keep track of different variables.

In [8]:
max_key = None
max_value = -1  # Start at -1 so no count is the same as this first value
for word in counts.keys():
  if counts[word] > max_value:
    max_key = word
    max_value = counts[word]
    
print(max_key, max_value)

the 516

In [9]:
max_key = None
for word in counts.keys():
  if max_key is None or counts[word] > counts[max_key]:
    max_key = word

print(max_key, max_value)

the 516

# CSV

We learned about CSV files and how one common way of representing the data in this file is a list of dictionaries.

Hunter implemented this function before lecture and briefly went over it in class. This function is NOT the import ant part of 
this example so it's safe to just understand what it's doc-string says.

In [10]:
def parse(file_name):
    """
    Parses the CSV file specified by file_name and returns the data as a list
    of dictionaries where each row is represented by a dictionary that
    has keys for each column and value which is the entry for that column
    at that row.
    """
    data = []
    with open(file_name) as f:
        headers = f.readline().strip().split(',')
        num_cols = len(headers)

        for line in f.readlines():
            row_data = line.strip().split(',')
            row = {}
            for i in range(num_cols):
                row[headers[i]] = row_data[i]
                #id = first_value of the row_data.
                #once we have ran thorugh each of the rows, it is going to append to the data
            data.append(row)
    return data

In [11]:
tas = parse('tas.csv')
tas

[{'Name': 'Erika', 'Salary': '3'},
 {'Name': 'Erik', 'Salary': '2'},
 {'Name': 'Josh', 'Salary': '4'}]

We then tried to run the following cell but encountered and error because the type of the data in the 'Salary' field was strings.
All data parsed from a file is by default a string!

In [12]:
total = 0
for ta in tas:
  total += ta['Salary']
print(total)

TypeError: unsupported operand type(s) for +=: 'int' and 'str'

We then went over this second function I had implemented before class to parse the data into appropriate types by taking 
extra parameters for the column names that should be converted to integers (or floats for a later example).

In [28]:
def parse(file_name, int_cols, float_cols):
    """
    Parses the CSV file specified by file_name and returns the data as a list
    of dictionaries where each row is represented by a dictionary that
    has keys for each column and value which is the entry for that column
    at that row.

    Also takes a list of column names that should have the data for that column
    converted to integers and a list of columns that should be converted to 
    floats. All other data will be str.
    """
    data = []
    with open(file_name) as f:
        headers = f.readline().strip().split(',')
        num_cols = len(headers)

        for line in f.readlines():
            row_data = line.strip().split(',')
            row = {}
            for i in range(num_cols):
                col = headers[i]
                if col in int_cols:
                    row[col] = int(row_data[i])
                elif col in float_cols:
                    row[col] = float(row_data[i])
                else:
                    row[col] = row_data[i]
            data.append(row)
    return data

In [29]:
tas = parse('tas.csv', ['Salary'], [])
tas

[{'Name': 'Erika', 'Salary': 3},
 {'Name': 'Erik', 'Salary': 2},
 {'Name': 'Josh', 'Salary': 4}]

In [30]:
total = 0
for ta in tas:
  total += ta['Salary']
print(total)

9

We saw that we could then parse our other, larger, dataset using the same function

In [31]:
# parse the year, month, and day columns as ints and the longitude, latitude, 
# and magnitude columns as floats
earthquakes = parse('earthquakes.csv', ['year', 'month', 'day'], 
                    ['longitude', 'latitude', 'magnitude'])

In [32]:
earthquakes

[{'id': 'nc72666881',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 37.6723333,
  'longitude': -121.619,
  'name': 'California',
  'magnitude': 1.43},
 {'id': 'us20006i0y',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 21.5146,
  'longitude': 94.5721,
  'name': 'Burma',
  'magnitude': 4.9},
 {'id': 'nc72666891',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 37.5765,
  'longitude': -118.85916670000002,
  'name': 'California',
  'magnitude': 0.06},
 {'id': 'nc72666896',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 37.5958333,
  'longitude': -118.99483329999998,
  'name': 'California',
  'magnitude': 0.4},
 {'id': 'nn00553447',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 39.3775,
  'longitude': -119.845,
  'name': 'Nevada',
  'magnitude': 0.3},
 {'id': 'ak13805337',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 61.2963,
  'longitude': -152.46,
  'name': 'Alaska',
  'magnitude': 1.8},
 {'id': 'hv61354276',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 19.4235,
  'longitude': -155.60983330000005,
  'name': 'Hawaii',
  'magnitude': 1.0},
 {'id': 'ak13805339',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 61.3019,
  'longitude': -152.4507,
  'name': 'Alaska',
  'magnitude': 2.0},
 {'id': 'ci37640584',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 35.503,
  'longitude': -118.40583329999998,
  'name': 'California',
  'magnitude': 1.2},
 {'id': 'nc72666901',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 37.673,
  'longitude': -121.6133333,
  'name': 'California',
  'magnitude': 1.67},
 {'id': 'ci37640592',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 33.5888333,
  'longitude': -116.8165,
  'name': 'California',
  'magnitude': 0.48},
 {'id': 'nn00553416',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 38.2638,
  'longitude': -118.7351,
  'name': 'Nevada',
  'magnitude': 0.9},
 {'id': 'nc71104689',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 36.6811667,
  'longitude': -121.33683329999998,
  'name': 'California',
  'magnitude': 0.51},
 {'id': 'nc71104624',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 37.0286667,
  'longitude': -121.19,
  'name': 'California',
  'magnitude': 0.53},
 {'id': 'uu60156827',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 44.7263333,
  'longitude': -111.2098333,
  'name': 'Montana',
  'magnitude': 0.14},
 {'id': 'pr16209000',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 18.072,
  'longitude': -66.9848,
  'name': 'Puerto Rico',
  'magnitude': 1.6},
 {'id': 'ak13805345',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 51.3716,
  'longitude': 178.7402,
  'name': 'Alaska',
  'magnitude': 2.1},
 {'id': 'ci37640600',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 36.0758333,
  'longitude': -117.6788333,
  'name': 'California',
  'magnitude': 0.73},
 {'id': 'nc71104629',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 37.0263333,
  'longitude': -121.1936667,
  'name': 'California',
  'magnitude': 0.22},
 {'id': 'nc72666906',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 38.7763333,
  'longitude': -122.7245,
  'name': 'California',
  'magnitude': 1.22},
 {'id': 'nc72666911',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 38.8415,
  'longitude': -122.8288333,
  'name': 'California',
  'magnitude': 0.55},
 {'id': 'hv61354336',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 19.4074993,
  'longitude': -155.28433230000005,
  'name': 'Hawaii',
  'magnitude': 1.47},
 {'id': 'ak13805346',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 62.5408,
  'longitude': -149.8593,
  'name': 'Alaska',
  'magnitude': 1.2},
 {'id': 'ci37640608',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 33.7878333,
  'longitude': -116.037,
  'name': 'California',
  'magnitude': 0.81},
 {'id': 'ak13831347',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 59.1835,
  'longitude': -152.5865,
  'name': 'Alaska',
  'magnitude': 1.6},
 {'id': 'ci37640616',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 35.9231667,
  'longitude': -117.6898333,
  'name': 'California',
  'magnitude': 0.75},
 {'id': 'nc72666931',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 38.8348333,
  'longitude': -122.8023333,
  'name': 'California',
  'magnitude': 1.4},
 {'id': 'ak13805347',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 64.7377,
  'longitude': -151.2365,
  'name': 'Alaska',
  'magnitude': 0.8},
 {'id': 'ci37640624',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 35.978,
  'longitude': -117.8535,
  'name': 'California',
  'magnitude': 1.13},
 {'id': 'nc72666946',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 37.6363333,
  'longitude': -118.94266670000002,
  'name': 'California',
  'magnitude': 0.47},
 {'id': 'us20006i18',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': -24.286,
  'longitude': -67.8647,
  'name': 'Chile',
  'magnitude': 5.6},
 {'id': 'pr16209001',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 18.6138,
  'longitude': -68.7526,
  'name': 'Dominican Republic',
  'magnitude': 3.6},
 {'id': 'ci37640640',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 35.9758333,
  'longitude': -117.85966670000002,
  'name': 'California',
  'magnitude': 0.28},
 {'id': 'ak13831349',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 61.1163,
  'longitude': -147.2352,
  'name': 'Alaska',
  'magnitude': 1.2},
 {'id': 'ak13805706',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 63.0332,
  'longitude': -151.4388,
  'name': 'Alaska',
  'magnitude': 2.3},
 {'id': 'nn00553420',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 36.49,
  'longitude': -113.9923,
  'name': 'Nevada',
  'magnitude': 1.1},
 {'id': 'ak13831351',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 60.4444,
  'longitude': -151.8699,
  'name': 'Alaska',
  'magnitude': 1.5},
 {'id': 'us10006aa8',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 53.302,
  'longitude': -163.5048,
  'name': 'Alaska',
  'magnitude': 2.5},
 {'id': 'ak13831353',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 61.25100000000001,
  'longitude': -151.3632,
  'name': 'Alaska',
  'magnitude': 1.3},
 {'id': 'ak13805716',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 62.1521,
  'longitude': -150.1588,
  'name': 'Alaska',
  'magnitude': 2.0},
 {'id': 'nc72666956',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 38.7781667,
  'longitude': -122.7505,
  'name': 'California',
  'magnitude': 1.75},
 {'id': 'nc72666961',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 38.7885,
  'longitude': -122.7218333,
  'name': 'California',
  'magnitude': 0.62},
 {'id': 'pr16209003',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 19.3997,
  'longitude': -64.2795,
  'name': 'British Virgin Islands',
  'magnitude': 2.7},
 {'id': 'nc72666966',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 37.5141667,
  'longitude': -118.8263333,
  'name': 'California',
  'magnitude': 0.8},
 {'id': 'pr16209002',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 18.0625,
  'longitude': -66.5327,
  'name': 'Puerto Rico',
  'magnitude': 1.8},
 {'id': 'hv61354386',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 18.789333300000006,
  'longitude': -154.8673333,
  'name': 'Hawaii',
  'magnitude': 1.83},
 {'id': 'ak13805719',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 54.9592,
  'longitude': -159.6299,
  'name': 'Alaska',
  'magnitude': 2.6},
 {'id': 'ak13831356',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 61.2406,
  'longitude': -150.5094,
  'name': 'Alaska',
  'magnitude': 1.3},
 {'id': 'ci37640656',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 36.01716670000001,
  'longitude': -117.81116670000002,
  'name': 'California',
  'magnitude': 0.06},
 {'id': 'ci37640648',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 33.5145,
  'longitude': -116.5175,
  'name': 'California',
  'magnitude': 0.75},
 {'id': 'ci37640664',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 32.905,
  'longitude': -115.5326667,
  'name': 'California',
  'magnitude': 1.6},
 {'id': 'ak13806082',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 61.1172,
  'longitude': -150.9111,
  'name': 'Alaska',
  'magnitude': 2.3},
 {'id': 'ak13806091',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 64.7401,
  'longitude': -149.2947,
  'name': 'Alaska',
  'magnitude': 0.3},
 {'id': 'ak13831361',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 54.7822,
  'longitude': -162.2961,
  'name': 'Alaska',
  'magnitude': 2.1},
 {'id': 'ak13806093',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 61.4464,
  'longitude': -151.7569,
  'name': 'Alaska',
  'magnitude': 1.1},
 {'id': 'us20006i27',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': -3.7122,
  'longitude': 131.5537,
  'name': 'Indonesia',
  'magnitude': 4.9},
 {'id': 'ak13806094',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 63.5351,
  'longitude': -151.9833,
  'name': 'Alaska',
  'magnitude': 0.5},
 {'id': 'ak13806095',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 68.5121,
  'longitude': -146.7507,
  'name': 'Alaska',
  'magnitude': 1.0},
 {'id': 'us100069gj',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 1.3512,
  'longitude': 124.434,
  'name': 'Indonesia',
  'magnitude': 4.2},
 {'id': 'nc72666971',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 36.7,
  'longitude': -121.33816670000002,
  'name': 'California',
  'magnitude': 1.84},
 {'id': 'ak13831365',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 60.2452,
  'longitude': -141.1849,
  'name': 'Alaska',
  'magnitude': 0.9},
 {'id': 'ak13806463',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 61.6271,
  'longitude': -151.8501,
  'name': 'Alaska',
  'magnitude': 1.5},
 {'id': 'nc72666976',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 36.1681667,
  'longitude': -120.1663333,
  'name': 'California',
  'magnitude': 1.75},
 {'id': 'ak13831367',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 61.4586,
  'longitude': -146.6547,
  'name': 'Alaska',
  'magnitude': 1.2},
 {'id': 'ci37640696',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 33.7398333,
  'longitude': -117.52783329999998,
  'name': 'California',
  'magnitude': 0.59},
 {'id': 'ak13806465',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 61.8231,
  'longitude': -150.2247,
  'name': 'Alaska',
  'magnitude': 1.2},
 {'id': 'ci37640704',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 33.0166667,
  'longitude': -116.3543333,
  'name': 'California',
  'magnitude': 0.84},
 {'id': 'ak13831369',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 61.5179,
  'longitude': -146.4904,
  'name': 'Alaska',
  'magnitude': 1.1},
 {'id': 'nc72666986',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 38.8160019,
  'longitude': -122.8150024,
  'name': 'California',
  'magnitude': 0.71},
 {'id': 'hv61354436',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 19.4034996,
  'longitude': -155.2831726,
  'name': 'Hawaii',
  'magnitude': 2.1},
 {'id': 'ak13831370',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 59.4809,
  'longitude': -152.6624,
  'name': 'Alaska',
  'magnitude': 1.6},
 {'id': 'ak13806467',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 63.2389,
  'longitude': -151.3281,
  'name': 'Alaska',
  'magnitude': 0.6},
 {'id': 'ak13831372',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 58.4244,
  'longitude': -153.6441,
  'name': 'Alaska',
  'magnitude': 1.7},
 {'id': 'us100067t9',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 52.7406,
  'longitude': -166.6875,
  'name': 'Alaska',
  'magnitude': 3.3},
 {'id': 'uw61172232',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 47.3855,
  'longitude': -121.7835,
  'name': 'Washington',
  'magnitude': 1.3},
 {'id': 'us20006i2f',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': -21.7716,
  'longitude': -113.8676,
  'name': 'Southern East Pacific Rise',
  'magnitude': 4.8},
 {'id': 'ak13831374',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 60.8123,
  'longitude': -147.6027,
  'name': 'Alaska',
  'magnitude': 1.3},
 {'id': 'nc72666991',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 38.81233220000001,
  'longitude': -122.8181686,
  'name': 'California',
  'magnitude': 1.02},
 {'id': 'ak13806836',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 51.1326,
  'longitude': 178.6078,
  'name': 'Alaska',
  'magnitude': 1.9},
 {'id': 'us20006i2h',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': -23.3566,
  'longitude': -66.9895,
  'name': 'Argentina',
  'magnitude': 4.0},
 {'id': 'ak13831376',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 52.7317,
  'longitude': -166.6461,
  'name': 'Alaska',
  'magnitude': 2.3},
 {'id': 'us20006i2i',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 10.9473,
  'longitude': 124.6154,
  'name': 'Philippines',
  'magnitude': 4.9},
 {'id': 'ak13806840',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 61.4966,
  'longitude': -140.6142,
  'name': 'Canada',
  'magnitude': 1.1},
 {'id': 'ci37640736',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 32.9211667,
  'longitude': -116.2398333,
  'name': 'California',
  'magnitude': 1.02},
 {'id': 'hv61354531',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 19.173,
  'longitude': -155.5863333,
  'name': 'Hawaii',
  'magnitude': 1.99},
 {'id': 'ak13831378',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 54.4634,
  'longitude': -161.4569,
  'name': 'Alaska',
  'magnitude': 2.4},
 {'id': 'nn00553474',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 39.8674,
  'longitude': -119.0119,
  'name': 'Nevada',
  'magnitude': 0.8},
 {'id': 'ci37640744',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 34.0308333,
  'longitude': -116.7703333,
  'name': 'California',
  'magnitude': 1.34},
 {'id': 'us20006i2n',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': -4.8676,
  'longitude': 153.6709,
  'name': 'Papua New Guinea',
  'magnitude': 4.8},
 {'id': 'ci37640752',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 33.7811667,
  'longitude': -115.65533329999998,
  'name': 'California',
  'magnitude': 1.03},
 {'id': 'ak13806850',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 54.1201,
  'longitude': -161.2719,
  'name': 'Alaska',
  'magnitude': 3.2},
 {'id': 'nc72667001',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 37.4285,
  'longitude': -121.7716667,
  'name': 'California',
  'magnitude': 1.22},
 {'id': 'us20006i2p',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 35.9805,
  'longitude': 69.1573,
  'name': 'Afghanistan',
  'magnitude': 4.5},
 {'id': 'nn00553426',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 38.6459,
  'longitude': -118.7994,
  'name': 'Nevada',
  'magnitude': 2.0},
 {'id': 'ak13831380',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 62.8542,
  'longitude': -150.8216,
  'name': 'Alaska',
  'magnitude': 1.0},
 {'id': 'nc72667006',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 38.9155,
  'longitude': -122.8926667,
  'name': 'California',
  'magnitude': 1.74},
 {'id': 'ak13807229',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 56.444,
  'longitude': -158.9668,
  'name': 'Alaska',
  'magnitude': 2.0},
 {'id': 'ci37640768',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 34.018,
  'longitude': -116.94483329999998,
  'name': 'California',
  'magnitude': 1.53},
 {'id': 'ci37640776',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 33.0133333,
  'longitude': -116.3573333,
  'name': 'California',
  'magnitude': 1.82},
 {'id': 'us20006i2u',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': -24.1725,
  'longitude': -67.2739,
  'name': 'Argentina',
  'magnitude': 4.1},
 {'id': 'ak13831382',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 61.45,
  'longitude': -140.6041,
  'name': 'Alaska',
  'magnitude': 0.9},
 {'id': 'nn00553442',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 41.8767,
  'longitude': -119.6278,
  'name': 'Oregon',
  'magnitude': 1.6},
 {'id': 'uw61172252',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 45.3598333,
  'longitude': -121.7006667,
  'name': 'Oregon',
  'magnitude': 0.52},
 {'id': 'us100069gp',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': -52.1331,
  'longitude': 27.7175,
  'name': 'South of Africa',
  'magnitude': 4.5},
 {'id': 'ci37640792',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 36.0255,
  'longitude': -117.7645,
  'name': 'California',
  'magnitude': 0.61},
 {'id': 'ak13807238',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 64.6281,
  'longitude': -147.7578,
  'name': 'Alaska',
  'magnitude': 0.4},
 {'id': 'nc72667016',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 36.646,
  'longitude': -121.26116670000002,
  'name': 'California',
  'magnitude': 2.09},
 {'id': 'nc72667021',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 38.8293333,
  'longitude': -122.8135,
  'name': 'California',
  'magnitude': 1.16},
 {'id': 'us20006i31',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 55.1608,
  'longitude': -159.3778,
  'name': 'Alaska',
  'magnitude': 3.6},
 {'id': 'ci37640816',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 36.02433329999999,
  'longitude': -117.7675,
  'name': 'California',
  'magnitude': 0.72},
 {'id': 'ci37640824',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 36.02733329999999,
  'longitude': -117.7651667,
  'name': 'California',
  'magnitude': 0.96},
 {'id': 'us20006i32',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': -7.237,
  'longitude': -76.2101,
  'name': 'Peru',
  'magnitude': 4.3},
 {'id': 'us100069gq',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': -19.3536,
  'longitude': -177.4688,
  'name': 'Fiji',
  'magnitude': 4.4},
 {'id': 'ak13831385',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 59.7753,
  'longitude': -136.57,
  'name': 'Alaska',
  'magnitude': 1.2},
 {'id': 'us20006i35',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 36.4922,
  'longitude': 140.7568,
  'name': 'Japan',
  'magnitude': 5.3},
 {'id': 'nc72667036',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 38.9195,
  'longitude': -122.8885,
  'name': 'California',
  'magnitude': 1.11},
 {'id': 'ak13807656',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 62.1606,
  'longitude': -153.2248,
  'name': 'Alaska',
  'magnitude': 1.6},
 {'id': 'nc72667046',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 37.4673333,
  'longitude': -118.8923333,
  'name': 'California',
  'magnitude': 0.65},
 {'id': 'us20006i3b',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 35.8525,
  'longitude': -97.2357,
  'name': 'Oklahoma',
  'magnitude': 2.6},
 {'id': 'ak13831387',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 52.7552,
  'longitude': -166.7771,
  'name': 'Alaska',
  'magnitude': 2.2},
 {'id': 'ak13808047',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 67.6877,
  'longitude': -166.7916,
  'name': 'Alaska',
  'magnitude': 3.0},
 {'id': 'ak13808051',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 62.9393,
  'longitude': -148.3064,
  'name': 'Alaska',
  'magnitude': 1.2},
 {'id': 'ak13831390',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 52.7361,
  'longitude': -168.6086,
  'name': 'Alaska',
  'magnitude': 1.8},
 {'id': 'ak13831391',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 53.9955,
  'longitude': -163.6187,
  'name': 'Alaska',
  'magnitude': 2.0},
 {'id': 'ak13808060',
  'year': 2016,
  'month': 7,
  'day': 27,
  'latitude': 63.5851,
  'longitude': -147.3953,
  'name': 'Alaska',

Now with this list of dictionaries, we wanted to find the earthquake with the largest magnitude

In [33]:
biggest_earthquake = None
for earthquake in earthquakes:
  # word: Scripts.com
  if biggest_earthquake is None or earthquake['magnitude'] > biggest_earthquake['magnitude']:
    biggest_earthquake = earthquake

print(biggest_earthquake)

{'id': 'us100068jg', 'year': 2016, 'month': 7, 'day': 29, 'latitude': 18.5439, 'longitude': 145.541, 'name': 'Northern Mariana Islands', 'magnitude': 7.7}

While this works great, it was pretty complicated! We had to do a lot of work to parse the data and while computing the values
we wanted from the list of dictionaries was TOO bad, it still had a fair bit of code. It would be nice if there were a way to do 
this better!

# Pandas

Pandas is a libary (a packaged up piece of code shared online) that specializes in processing these CSV files

In [1]:
import pandas as pd  # this is just syntax to "rename" the 
                     # module so we don't have to say "pandas." everywhere
data = pd.read_csv('earthquakes.csv')

In [2]:
data

,id,year,month,day,latitude,longitude,name,magnitude
0,nc72666881,2016,7,27,37.672333,-121.619000,California,1.43
1,us20006i0y,2016,7,27,21.514600,94.572100,Burma,4.90
2,nc72666891,2016,7,27,37.576500,-118.859167,California,0.06
3,nc72666896,2016,7,27,37.595833,-118.994833,California,0.40
4,nn00553447,2016,7,27,39.377500,-119.845000,Nevada,0.30
...,...,...,...,...,...,...,...,...
8389,nc72685246,2016,8,25,36.515499,-121.099831,California,2.42
8390,ak13879193,2016,8,25,61.498400,-149.862700,Alaska,1.40
8391,nc72685251,2016,8,25,38.805000,-122.821503,California,1.06
8392,ci37672328,2016,8,25,34.308000,-118.635333,California,1.55
8393,ci37672360,2016,8,25,34.119167,-116.933667,California,0.89

This returns a `DataFrame` that stores all the information about the CSV in an easy to read manner. Below, we use the `head` function on the `DataFrame` to just show the first few rows.

In [3]:
data.head()

           id  year  month  day   latitude   longitude        name  magnitude
0  nc72666881  2016      7   27  37.672333 -121.619000  California       1.43
1  us20006i0y  2016      7   27  21.514600   94.572100       Burma       4.90
2  nc72666891  2016      7   27  37.576500 -118.859167  California       0.06
3  nc72666896  2016      7   27  37.595833 -118.994833  California       0.40
4  nn00553447  2016      7   27  39.377500 -119.845000      Nevada       0.30

You can ask for a particular column of the `DataFrame` using the following syntax

In [4]:
data['name']

0       California
1            Burma
2       California
3       California
4           Nevada
           ...
8389    California
8390        Alaska
8391    California
8392    California
8393    California
Name: name, Length: 8394, dtype: object

This returns a pandas `Series` which represents one dimension of a `DataFrame`. There `Series` acts like a glorified dictionary/list, but it can do so much more!

In [6]:
len(data)

8394

In [7]:
type(magnitudes)

pandas.core.series.Series

In [5]:
magnitudes = data['magnitude']
print(magnitudes.max())
print(magnitudes.min())
print(magnitudes.mean())
print(magnitudes.unique())

7.7
0.01
1.512941386704789
[1.43 4.9  0.06 0.4  0.3  1.8  1.   2.   1.2  1.67 0.48 0.9  0.51 0.53
 0.14 1.6  2.1  0.73 0.22 1.22 0.55 1.47 0.81 0.75 1.4  0.8  1.13 0.47
 5.6  3.6  0.28 2.3  1.1  1.5  2.5  1.3  1.75 0.62 2.7  1.83 2.6  0.5
 4.2  1.84 0.59 0.84 0.71 0.6  1.7  3.3  4.8  1.02 1.9  4.   1.99 2.4
 1.34 1.03 3.2  4.5  1.74 1.53 1.82 4.1  0.52 0.61 2.09 1.16 0.72 0.96
 4.3  4.4  5.3  1.11 0.65 2.2  3.   1.56 2.17 0.68 2.25 1.33 0.7  2.03
 1.28 1.59 2.62 1.62 2.94 2.9  1.36 0.2  1.49 0.99 1.15 0.89 1.46 1.24
 1.87 1.94 4.6  1.88 0.97 0.34 0.93 1.64 2.76 3.08 3.1  0.74 0.23 0.49
 1.76 2.8  3.7  1.25 2.02 0.58 0.57 0.42 0.24 0.91 0.94 1.54 0.92 2.12
 0.35 1.18 1.85 2.05 1.23 2.56 0.87 0.85 0.25 0.83 1.38 0.88 1.06 2.16
 1.31 1.86 1.63 0.98 1.26 1.91 5.1  1.19 0.1  0.79 0.78 0.77 0.56 1.89
 0.82 1.71 1.73 0.27 1.61 1.66 1.95 3.22 3.5  1.57 1.98 0.37 1.96 0.26
 2.28 2.75 1.07 1.51 0.12 3.4  1.09 0.13 1.55 1.58 0.45 1.21 2.19 0.36
 0.86 1.27 1.29 5.4  5.   0.69 3.8  2.54 1.45 4.7  1.52 0.76 1.97 2.68
 2.66 0.01 1.35 0.44 2.33 2.39 1.17 0.54 1.44 7.7  1.79 1.93 5.2  0.41
 1.42 0.33 1.78 2.57 0.39 2.24 2.22 2.23 0.19 0.43 2.38 2.31 1.32 1.37
 1.68 5.7  0.38 0.67 1.65 1.08 3.37 3.19 1.69 0.15 3.24 2.67 0.03 1.72
 2.85 0.95 0.18 2.14 2.35 1.14 2.21 1.04 5.9  0.64 0.29 0.16 2.32 2.61
 4.03 2.15 0.31 0.63 1.12 0.66 1.01 6.1  0.04 0.05 1.77 2.18 2.07 2.13
 1.81 3.16 2.26 5.5  1.92 3.74 1.39 2.08 2.41 2.34 3.9  1.05 2.96 4.48
 3.99 2.01 2.49 0.09 3.31 3.17 0.32 1.48 2.36 6.2  6.3  0.17 1.41 2.45
 3.51 3.05 0.11 2.58 2.29 3.39 2.48 2.37 2.11 0.02 2.04 2.78 3.34 0.46
 5.09 2.99 0.21 2.65 0.08 2.06 3.84 2.74 2.59 0.07 2.44 7.2  2.52 3.41
 2.53 3.07 3.03 2.46 3.49 2.72 3.44 2.73 2.95 2.71 2.86 3.62 3.32 2.88
 3.43 3.54 2.63 2.77 2.47 7.4  5.8  2.55 2.42 6.   6.4  3.13 3.53 3.15
 6.8  3.76 3.48 2.83 2.27]

You can also use operators to combine `Series`. These operators work "element-wise" which means they apply the operator element by element in both `Series`

In [8]:
data['latitude'] + data['longitude']

0       -83.946667
1       116.086700
2       -81.282667
3       -81.399000
4       -80.467500
           ...
8389    -84.584331
8390    -88.364300
8391    -84.016502
8392    -84.327333
8393    -82.814500
Length: 8394, dtype: float64

You can also do comparisons to find all values > 5

In [10]:
data['magnitude'] > 5

,id,year,month,day,latitude,longitude,name,magnitude
30,us20006i18,2016,7,27,-24.2860,-67.8647,Chile,5.6
114,us20006i35,2016,7,27,36.4922,140.7568,Japan,5.3
421,us1000683b,2016,7,28,-16.8242,-172.5158,Tonga,5.1
632,us100068b1,2016,7,29,0.0756,123.4162,Indonesia,5.4
799,us100068jg,2016,7,29,18.5439,145.5410,Northern Mariana Islands,7.7
...,...,...,...,...,...,...,...,...
7916,us10006g7d,2016,8,23,42.7140,13.1719,Italy,6.2
7926,us10006g7w,2016,8,23,42.8223,13.1257,Italy,5.5
8002,us10006gbf,2016,8,24,20.9192,94.5789,Burma,6.8
8029,us10006gf0,2016,8,24,-2.9567,100.0549,Indonesia,5.8
8303,us20006ty8,2016,8,25,30.6151,137.8462,Japan region,5.9

Pandas also lets you use these bool `Series` to select which rows you want to look at in a `DataFrame`

In [11]:
mask = data['magnitude'] > 5
data[mask].head()  # to limit the number of values printed

,id,year,month,day,latitude,longitude,name,magnitude
30,us20006i18,2016,7,27,-24.2860,-67.8647,Chile,5.6
114,us20006i35,2016,7,27,36.4922,140.7568,Japan,5.3
421,us1000683b,2016,7,28,-16.8242,-172.5158,Tonga,5.1
632,us100068b1,2016,7,29,0.0756,123.4162,Indonesia,5.4
799,us100068jg,2016,7,29,18.5439,145.5410,Northern Mariana Islands,7.7

You can also use multiple filter conditions by combining them with logical operators. Note that these look a bit different than the normal python operators. Also parentheses really matter here! 

Operator | Meaning
---------------|---------------
&              | and
&#124;    | or
~              | not

In [12]:
data[(data['magnitude'] > 5) & ~(data['name'] == 'Japan')].head()

,id,year,month,day,latitude,longitude,name,magnitude
30,us20006i18,2016,7,27,-24.2860,-67.8647,Chile,5.6
421,us1000683b,2016,7,28,-16.8242,-172.5158,Tonga,5.1
632,us100068b1,2016,7,29,0.0756,123.4162,Indonesia,5.4
799,us100068jg,2016,7,29,18.5439,145.5410,Northern Mariana Islands,7.7
835,us100068n4,2016,7,29,-20.7929,169.9542,Vanuatu,5.2

# Location
We've seen a few different ways (access column, use bool `Series` to filter rows) to access data in a `DataFrame`. Both of these methods rely on this underlying idea of the `loc` property. In general, you use `loc` to specify the data you want with

```
data.loc[<row indexer>, <column indexer>]
```

In [20]:
# Get one row
data.loc[1]

id           us20006i0y
year               2016
month                 7
day                  27
latitude        21.5146
longitude       94.5721
name              Burma
magnitude           4.9
Name: 1, dtype: object

In [21]:
# Get one row and one column
data.loc[1, 'name']

'Burma'

In [22]:
# Can use lists for both! 
data.loc[[1,2,3], ['year', 'month', 'day']]

   year  month  day
1  2016      7   27
2  2016      7   27
3  2016      7   27

In [23]:
# Can use ranges to specify both! 
# Note: The ranges are inclusive unlike almost everywhere else in Python! 
data.loc[1:3, 'year':'day']

   year  month  day
1  2016      7   27
2  2016      7   27
3  2016      7   27